.App {
  text-align: center;
}
body{
  background: #282F32;
  color:white;
}
input {
  width: 300px;
  margin: 0 5px 0 0;
}

.meme-counter{
  text-align:center;
}

.meme-library {
  display:flex;
  justify-content: space-evenly;
  /* This flex direction was super useful to get them to appear on a horizontal row */
  flex-direction:row;
  flex-wrap: wrap;
}
img {
  max-width: 300px;
}

.button{
  display:inline;
  margin: 0 5px 0 0;
}
.footer{
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
}
