@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.App {
  text-align: center;
}
body{
  background: #282F32;
  color:white;
  font-family: 'Lato', sans-serif;
}
input {
  width: 300px;
  margin: 0 5px 0 0;
}

.meme-counter{
  text-align:center;
  margin: 5% 0 5% 0;
}

.meme-library {
  display:flex;
  justify-content: space-evenly;
  /* This flex direction was super useful to get them to appear on a horizontal row */
  flex-direction:row;
  flex-wrap: wrap;
}
.meme{
  margin: 0 5px 15px 5px;
}
img {
  max-width: 300px;
  max-height: 400px;
}

.button{
  display:inline;
  margin: 0 5px 0 0;
}
.footer{
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  margin-top:25vh;
}
