.App {
  text-align: center;
}
body{
  background: darkgrey;
}
input {
  width: 300px;
}
.meme-counter{
  text-align:left;
}

.meme-library {
  display:flex;
  justify-content: space-evenly;
  /* This flex direction was super useful to get them to appear on a horizontal row */
  flex-direction:row;
  flex-wrap: wrap;
}
.meme-library > img {
  max-width:300px;
}